<h1>Click a Department To View Associated Items</h1>
<hr />
<ul>
  <% @departments.each do |department| %>
    <li> <%= link_to department.name, department %> </li>
    <body> - <%= department.description %> </body>

  <% end %>
</ul>
<hr />
<%= link_to 'Create a new department', new_department_path %>
